.landing-page {
  .introduction {
    background: rgb(245, 245, 245);
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .content {
    padding-top: 2rem;
  }

  .container {
    padding: 0rem 1rem;
  }
}
