@import "~bulma/sass/utilities/initial-variables";

// Config vars
$body-color: #333;
$black: #2b2523;
$body-background-color: white;

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$weight-normal: 300;

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.navbar .navbar-menu {
  box-shadow: none !important;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  .icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
  .navbar-brand .navbar-item.logo {
    padding: 0 1rem;
  }
  footer.footer {
    padding: 3rem 0rem 0rem;
    background-color: transparent;
  }
}

.layout-content {
  background: white;
}

//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: white;
$menu-item-active-background-color: white;
$menu-list-border-left: 1px solid white;
$menu-label-color: $white-ter;

.menu-label {
  font-size: 1em !important;
  text-align: left;
}
.menu-list {
  list-style: none !important;
  text-align: left;
}

.social a span {
  padding: 0.5em 0.5em 0.3em 0.5em;
  border-radius: 1em;
  background-color: $white-ter;
  margin: 0.5em;
  vertical-align: middle;
  display: inline;
  img {
    width: 1em;
    height: 1em;
  }
}

// blog roll
.blog-list-item.is-featured {
  background-color: #d6400033;
}
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}
.blog-list-item.featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

@import "~bulma";

.header {
  .header-image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    @include until($tablet) {
      min-height: 100vw;
    }
    @include from($tablet) {
      min-height: 300px;
    }
  }

  h1 {
    @include until($tablet) {
      text-align: center;
    }
  }

  h2 {
    color: $grey-light;
    @include until($tablet) {
      text-align: center;
    }
    padding: 2rem 0rem;
  }
}

/* This needs to be translated from SASS dialect

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
*/

p {
  margin: 0.5em 0em;
}
/* James updates */
.imageBGHome { 
  height: 200px;
  background-image: url('https://images.unsplash.com/photo-1587126251415-7288f718d731?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
}
.hideMob { 
  display: none;
}
.hideDesk {
  display: none;
}

.joinButton { 
  font-size: 2rem;
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 5px;
  color: #4dad33;
  margin-top: 20px;
  clear: both;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  border: 3px solid #4dad33;

}
.joinButton:hover { 
  
  font-size: 2rem;
  padding: 15px 25px;
  background-color: #4dad33;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  clear: both;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  border: 3px solid transparent;
}

.footer { 
  padding: 0px;
}
.has-background-black {
  background-color: #4dad33!important;
}
.social a {
  padding: .5em .5em .3em;
  border-radius: 1em;
  background-color: #f5f5f5;
  margin: .5em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline;
}
.social a img {
  -webkit-filter: invert(25%);
  filter: invert(25%);
}
.footerContact a {
  color: #fff!important;
  font-weight: 400!important;
  font-size: 1.1em!important;
  background-color: transparent;
}
.footerTextLink { 
  color: #333;

}
.post-meta  a { 
  color: #000!important;
  text-decoration: none!important;
  font-weight: 500!important;
}
.post-meta  a:hover { 
  color: #4dad33!important;
  text-decoration: none!important;
  font-weight: 500!important;
}
.notification { 
  background-color: #fff;
}
.notification:hover { 
  color: #4dad33;
}
@media screen and (max-width: 1023px) {
  .hideMob { 
    display: none;
  }
  .hideDesk {
    display: initial;
  }
  .footerContact a {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 1.1em !important;
    background-color: transparent;
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
}
}
@media screen and (min-width: 1024px) {
.navbar-start {
  justify-content: flex-start;
    position: absolute;
    right: 0;
}
.hideMob { 
  display: initial;
}
.hideDesk {
  display: none;
}
.navItemGen { 
  padding: 8px 25px;
  margin-right: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 500;
}
.whiteNav {
  background-color: #fff;
  color: #222;
  border-bottom: 4px solid transparent;
}
.blueNav {
  background-color: #3299cc;
  border-bottom: 4px solid transparent;
}
.blueNav:hover { 
  background: transparent;
  border-bottom: 4px solid #3299cc;
  color: #3299cc!important;;
}
.yellowNav {
  background-color: #ffcc03;
  border-bottom: 4px solid transparent;
}
.yellowNav:hover { 
  background: transparent;
  border-bottom: 4px solid #ffcc03;
  color: #ffcc03!important;;
}
.redNav {
  background-color: #e72168;
  border-bottom: 4px solid transparent;
}
.redNav:hover { 
  background: transparent;
  border-bottom: 4px solid #e72168;
  color: #e72168!important;
}
.greenNav {
  background-color: #4dad33;
  border-bottom: 4px solid transparent;
}
.greenNav:hover { 
  background: transparent;
  border-bottom: 4px solid #4dad33;
  color: #4dad33!important;
}
.blackNav {
  background-color: #000000;
  border-bottom: 4px solid transparent;
}
.blackNav:hover { 
  background: transparent;
  border-bottom: 4px solid #000;
  color: #000!important;
}
.navbar { 
  position: fixed;
  width: 100%;
}
.imageBGHome { 
  height: 500px;
  background-image: url('https://images.unsplash.com/photo-1587126251415-7288f718d731?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
}
}
.featured-thumbnail { 
  width: 100%;
}

.radioStation { 
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.212);
  margin: 5px;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/f/fc/Bush_Radio_Logo.png');
  background-size: cover;
  cursor: pointer;
  min-height: 150px;
  
  border: 3px solid #fff;
}
.radioStation:hover { 
  border: 3px solid #4dad33;
}
.quickLinkWrap { 
  margin-top: 30px;
  font-size: 20px;
}
.quickLink { 
  color: #4dad33;
  font-size: 20px;
  font-weight: bold; 
}
.quickLink:hover { 
  color: #3d9226;
  font-size: 20px;
  font-weight: bold; 
}


.accordion {
	margin: auto;
	width: 100%;
}
.accordion input {
	display: none;
}
.boxQue {
	position: relative;
	background: #4dad33;
    min-height: 65px;
    transition: all .15s ease-in-out;
    margin-bottom: 7px;
}
.boxQue::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.boxQue {
	background: #00BCD4;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}
.box-title {
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: calc(100% - 40px);
	padding: 30px 20px;
	font-size: 13pt;
  display: none;
  color: #fff;
}
.chooseStation { 
  color: #4dad33;
  font-weight: bold;
  font-size: 17px; 
}
.box-content strong { 
  color: #fff;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .boxQue {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .boxQue .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .boxQue .box-content,
input:checked + .boxQue .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
  color: rgba(0,0,0,.54);
  line-height: 60px;
}
input:checked + section.boxQue .box-title:before {
	transform: rotate(90deg);
}
.queText { 
  font-weight: bold;
  line-height: 14px;
  padding-top: 12px!important;
  color: #fff;
}
.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(43,37,35,.1), 0 0 0 1px rgba(43,37,35,.02);
  color: #4a4a4a;
  display: block;
  padding: 0px;
}
.blog-list-item header { 
  margin-bottom: 0px;
}
.post-meta { 
  padding: 10px;
  margin:0px;
}
.entryTitle { 
  font-size: 18px;
}
.entryBox { 
  box-shadow: 2px 2px 30px rgba(51, 51, 51, 0.205);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.entryBox:hover { 
  box-shadow: 2px 2px 40px  rgba(51, 51, 51, 0.205);
  transform: scale(1.05);
}
.entries { 
  margin-top: 25px;
}
.entryBlock { 
  background: #4dad33;
  padding: 20px;
  border-radius: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.entryBlock p { 
  font-size: 15px;
  font-weight: bold;
}
.textEntry { 
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}
.entryTitle { 
  color: #3273dc;
  font-weight: bold;
}
.radioStationIntro { 
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: #fff;
}
.wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-day-block { 
  margin: 10px;
  margin-bottom: 50px;
}
.backButton { 
  background: #3299cc;
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
}
.backButton:hover { 
  background-color: #ffcc03;
}
@media (max-width: 678px) { 
  .entryBlock { 
    background: #4dad33;
    padding: 20px;
    border-radius: 20px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
} 
.hashtagBig { 
  color: #ffcc03!important;
  font-size: 55px!important;
  line-height: 57px!important;
  margin: 0px!important;
}
.learnMoreBox { 
  background-color: #f5f5f5;
  padding: 20px;
}
.learnMore { 
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 35px;
  color: #3299cc;
}
.learnMoreSub { 
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 5px 15px;
  background-color: #3299cc ;
  color: #fff;
  width: fit-content;
}
.infoBox { 
  text-align: left;
}
.infoBox h3 { 
  font-weight: bold; 
  font-size: 19px;
  color: #3299cc;
  margin-top: 10px;
  margin-bottom: 5px;
}
.infoBox p { 
  font-size: 17px;
}
.infoBox a { 
  font-weight: bold;
}
.ronaldIntro {
  margin-top: 50px;
}
.ronaldIntro strong { 
  font-weight: bold;
  font-size: 19px;
  color: #3299cc;
}
.ronaldVid { 
  width: 100%;
  height: 50vw;
}
.standWith { 
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #000;
}